* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* z-index: -1; */
}

#part-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.914); 
    font-size: 3rem;
    z-index: 1;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}


.search > input {
    width: 45rem;
    height: 2.5rem;
    padding: 12px;
    border-radius: 2rem;
}

.search > div > button {
    font-family: monospace;
    position: relative;
    left: 40%;
    width: 7rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.search > div > button:hover {
    cursor: pointer;
    background-color: rgb(27, 27, 27);
    color: rgb(12, 255, 12);
    transition: 0.4s;
    border: 2px solid white;
    font-weight: 500;
}